menuconfig JZ_I2D
    bool "JZ I2D Driver"
    default n
    depends on SOC_X2500
    help
        Support for Ingenic i2d Driver

config INGENIC_I2D
	tristate "Ingenic I2D Driver"
	depends on JZ_I2D
	default n
	help
	  Support for Ingenic i2d  operations.

